* {
  margin: 0px;
  padding: 0px;
}
.aboutSection {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-color: white;
  display: grid;
  grid-template-columns: 4fr 4fr;
  position: fixed;
}

.aboutSectionGradient {
  background-image: linear-gradient(
    to top right,
    #ace2d9,
   #024747
  );
}

.aboutSectionContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: rgb(255, 255, 255);
  width: 80vw;
  height: 80vh;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.192);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutSectionContainer > h1 {
  font: 400 3vmax "Roboto";
  color: #069a8e;
  margin: 2vmax;
  border-bottom: #069A8E 1px solid;
}

.aboutSectionContainer > div {
  display: flex;
  width: 100%;
}

.aboutSectionContainer > div > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vmax;
  box-sizing: border-box;
}

.aboutSectionContainer > div > div > p {
  color: rgba(0, 0, 0, 0.623);
  font: 100 1vmax "Roboto";
}

.aboutSectionContainer > div > div > button {
  margin: 1vmax 0;
}

.aboutSectionContainer > div > div > span {
  font: 100 1vmax "Roboto";
  color: rgba(0, 0, 0, 0.616);
  text-align: center;
  width: 80%;
}

.aboutSectionContainer2 {
  border-left: 1px solid rgba(0, 0, 0, 0.116);
}

.aboutSectionContainer2 > h2 {
  color: rgba(0, 0, 0, 0.623);
  font: 100 2vmax "Roboto";
  margin: 2vmax;
}

.githubSvgIcon {
  color: rgb(0, 0, 0);
}

.instagramSvgIcon {
  color: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );

  /* color: rgb(144, 81, 202); */
}

.linkedInSvgIcon {
  color: #007bb6;
}

/**Icon Hover Effect 1**/
.hover-effect1 {
  min-height: 15vmax;
  background: transparent;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .hover-effect1 ul {
  padding-top: 50px;
} */

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  list-style-type: none;
}

/* .hover-effect1 ul li {
  display: inline-block;
 
} */
.hover-effect1 ul li a {
  /* font-size: 40px; */
  /* line-height: 100px; */
  /* color: #fff; */
  margin: 0px 1rem;
  display: inline-block;
  width: 100px;
  height: 100px;
  background: #c5ddd9;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  position: relative;
}
.hover-effect1 ul li a svg {
  font-size: 60px;
  justify-self: center;
  margin: 1rem;
}

.hover-effect1 ul li:hover a {
  border-radius: 50%;
  background: #069A8E;
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

/* .aboutSectionContainer2 > a > svg {
  font-size: 10vmax;
  width:  10vmax;
  height: 10vmax;
} */

@media screen and (max-width: 600px) {
  .aboutSectionContainer > div {
    display: block;
  }

  .aboutSectionContainer > h1 {
    font: 400 5vmax "Roboto";
    margin: 3vmax;
  }

  .aboutSectionContainer > div > div > p {
    font: 100 2vmax "Roboto";
  }

  .aboutSectionContainer > div > div > span {
    font: 100 1.4vmax "Roboto";
    width: 70%;
  }

  .aboutSectionContainer2 {
    border-left: none;
  }

  .aboutSectionContainer2 > h2 {
    font: 100 3vmax "Roboto";
    margin: 2vmax;
  }

  /* =========== */

  .hover-effect1 ul li a {
    width: 50px;
    height: 50px;
  }

  .hover-effect1 ul li a svg {
    font-size: 30px;
    justify-self: center;
    margin: 0.5rem;
  }
}
